/* body */
body{
  background-color: #f1f3f5;
  text-align: left;
}
/* navbar */
.site-header {
  background-color: rgba(194, 185, 185, 0.7);
}
.site-header a {
  color: #ffffff;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
/* top image */
img{
  width: 100%;
}
.p-hide{
  display: none;
}
@media screen and (max-width: 768px){
.topimagearea {
  background: url(../image/top_imageM.jpg)  no-repeat center center;
  background-size: cover;
  }
}
@media (max-width: 768px){
  .p-hide {
    display: block !important;}
  }
@media (max-width: 768px){
  .m-hide {
    display: none;    }
  }
/* chart out txt */
.outtxt{
  text-align: center;
  margin-top: 100px;
  padding-top: 50px;
  font-family: "headfont";
}
/* dashboard */
@media (min-width: 768px){
  .top-container , .chart-outline {
    max-width: 1320px;
  }
}
.top-container {
  width: 100%;
  background-color:white;
  border-radius:20px;
  margin-top:50px;
  margin-bottom:50px;
  margin-left: auto;
  margin-right: auto;
  padding-top:20px;
  padding-bottom:10px;
  border:3px solid #dee2e6
}
.boardhead{
  margin-top: 30px;
  font-size: 35px;
  font-family: "headfont";
}
.boardhead.top{
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 50px;
  font-family: "headfont";
}
.head_info{
  padding-top: 50px;
}
.head_svgtxt{
  font-size: 28px;
  font-family: "txtfont";
}
.head_infotxt{
  margin-left: 10px;
  margin-top: 30px;
  font-size: 20px;
  font-family: "txtfont";
}
/* chart */
.chart-outline{ 
  width: 100%;
  background-color:white;
  border-radius:20px;
  margin-top:50px;
  margin-bottom:100px;
  margin-left: auto;
  margin-right: auto;
  padding-top:20px;
  padding-bottom:50px;
  border:3px solid #dee2e6
}
.txt{
  margin-top: 10px;
  font-size: 30px;
  font-family: sans-serif;
}
.status{
  padding-bottom: 40px;
  font-family: "headfont";
}
.stxt{
  padding-bottom: 30px;
  opacity: 0.5;
}
/* API */
.APIhead{
  padding-top: 100px;
  text-align: center;
  padding-bottom: 40px;
  font-family: "headfont";
  font-size: 40px;
}
.APItable{
  padding-top: 30px;
  padding-bottom: 30px;
  background-color:white;
}
/* youtube list */
.youtube h2{
  text-align: center;
  font-family: "headfont";
  font-size: 40px;
  padding-top: 200px;
  padding-bottom: 100px;
}
.ylist{
  font-family: "txtfont" ;
  font-size: 20px;
}
/* footer */
.info{
  margin-top: 50px;
  font-family: "headfont" ;
}
.contact{
  font-family: "txtfont" ;
  font-size: 20px;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
/* font */
@font-face {
  src : url("../fonts/NOTO220BD_BGI.ttf");
  font-family: "headfont" ;
}
@font-face {
  src : url("../fonts/BMJUA_ttf.ttf");
  font-family: "txtfont" ;
}



