body{
  background-color: #dee2e6;
}
.site-header {
  background-color: rgba(170, 161, 161, 0.7);
}
.site-header a {
  color: #ffffff;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
.top-container {
  background-color:white;
  border-radius:10px;
  margin-top:200px;
  margin-bottom:100px;
  margin-left: 300px;
  margin-right: 300px;
  padding-top:10px;
  padding-bottom:10px;
  border:3px solid #dee2e6
}
.chart-outline{ 
  overflow: hidden;
  background-color:white;
  border-radius:10px;
  margin-top:200px;
  margin-bottom:100px;
  margin-left: 300px;
  margin-right: 300px;
  padding-top:0px;
  padding-bottom:10px;
  padding-left: 30px;
  border:1px solid #dee2e6;
}
.top2{
  margin-top: 100px;
}
.top3{
  margin-top: 100px;
}
.txt{
  margin-top: 100px;
}
.description{
  height: 600px;
}
.status{
  padding-bottom: 40px;
}
.stxt{
  padding-bottom: 30px;
}